# IDE
/.idea/*

# Python compiled
__pycache__/
*.py[cod]

# C files
*.so

# NPM
.ropeproject
/node_modules/*
bower_components

# Distributions
.Python
env/*
build/*
develop-eggs/*
dist/*
sdist/*
*.egg-info/*
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Testing
htmlcov/*
.tox/*
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx
docs/_build/*

# CKAN extension
ckanext/dataoverheid/log/*
ckanext/dataoverheid/resources/vocabularies/*
ckanext/dataoverheid/resources/taxonomies/*
ckanext/dataoverheid/resources/solr/donl_dataset/lang/synonyms_uri_nl.txt
ckanext/dataoverheid/resources/solr/donl_dataset/lang/synonyms_uri_en.txt

# Git
!.gitkeep
