# IDE
/.idea/*

# Python compiled
__pycache__/
*.py[cod]

# C files
*.so

# NPM
.ropeproject
/node_modules/*
bower_components

# Distributions
.Python
env/*
build/*
develop-eggs/*
dist/*
sdist/*
*.egg-info/*
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Testing
htmlcov/*
.tox/*
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx
docs/_build/*

# CKAN extension
authorization.json
ckanext/dataoverheid/log/*
ckanext/dataoverheid/resources/vocabularies/*
ckanext/dataoverheid/resources/taxonomies/*
ckanext/dataoverheid/resources/solr/donl_dataset/*
!ckanext/dataoverheid/resources/solr/donl_dataset/schema.xml
!ckanext/dataoverheid/resources/solr/donl_dataset/solrconfig.xml
ckanext/dataoverheid/resources/solr/donl_search/*
!ckanext/dataoverheid/resources/solr/donl_search/schema.xml
!ckanext/dataoverheid/resources/solr/donl_search/solrconfig.xml
ckanext/dataoverheid/resources/solr/donl_suggester/*
!ckanext/dataoverheid/resources/solr/donl_suggester/schema.xml
!ckanext/dataoverheid/resources/solr/donl_suggester/solrconfig.xml

# Git
!.gitkeep

# Python virtual environment
/venv/*
